/*NORMALIZADOR*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  /* border: 1px solid red;*/
}

/*ENCABEZADO*/
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

h3 {
    font-weight: lighter;
}

/*--------SEGUNDO FLEX BOX--------------------*/

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;

}

/*.bordes {
    border: 1px solid red;
}*/

.titulo {
    width: 70vw;
    margin-bottom: 2vh;
}

.parrafos {
    width: 70vw;
    text-indent: 5vw;
}

.listas {
    width: 70vw;
}

.sub-titulo {
    font-size: 1.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 2vh;
}

.parrafos-2 {
    font-size: 1.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 2vh;
}

.parrafos-3 {
    font-size: 1.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sub-listas{
    display: block;
}

.container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    font-size: 1.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 500px;
   
 }

 .tt{
    margin-left: 20vw;
    margin-right: 15vw;
 }

 .top-navbar {
    position: absolute;
    left: 0px;
    top: 30%;
}



.btn1 {
    display: block;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: green;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    box-shadow: 3px 3px 0.5px 1px rgba(0, 0, 0, 0.6);
}
.btn1:hover{
    background-color: red;

}

.btn2 {
    display: block;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: mediumblue;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.6);
}

.btn2:hover{
    background-color: red;

}



.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
    margin-top: 2vh;
    font-size: 1.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }

 .centrado{
    align-self: center;
    margin-bottom: 5vh;
 }



.subrayado{
    text-decoration: underline;
    font-style: italic;
}

/*FORMATO TABLA*/

table {  
    color: #333; 
    font-family: Helvetica, Arial, sans-serif; 
    width: 640px; 
    border-collapse: collapse;
}

td, th { 
    border: 1px solid transparent; 
    height: 30px; 
}

th { 
    background: #D3D3D3; 
    font-weight: bold; 
}

td { 
    background: #FAFAFA; 
    text-align: center; 
}

tr:nth-child(even) td { 
    background: #F1F1F1; 
}  

tr:nth-child(odd) td { 
    background: #FEFEFE; 
} 

tr td:hover { 
    background: #666; color: #FFF; 
}
  
.izquierda{
 width: 60%;
 }

 .centro{
        margin: 0 auto;
 }

 .espacioTop{
    margin-top: 5%;
 }

 .contenedor-5{
    display: flex;
    justify-content: space-between;
 }

 .centrado{
    margin-top: 30px;
   
 }

