/*Normalizador*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/*Encabezado*/
.Encabezado{
    position: relative;
}

.top-left{
    position: absolute;
    top: 5px;
    left: 16px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 50px;
    color:red;
    background-color: black;
}

.img-banner{
    height: auto;
    width: 100%;
}

.bottom-center{
    position: absolute;
    padding: 10px;
    width: 100%;
    bottom: 5px;
    background-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    color: white;
}


.bottom-rigth{
    position: absolute;
    bottom: -4%;
    right: 10%;
    width: 150px;
    height: 150px;
}

/*BARRA DE NEVAGACION VERTICAL*/
.sidenav {
    height: 100%; 
    width: 160px; 
    left: 0;
    bottom: 0;
    overflow-x: hidden; 
    margin-top: 30px;
    display: inline-block; 
   /* border: 5px solid red;*/
  }

  .sidenav a{
    display: block;
    padding: 10%;
  }

  /*CONTENEDOR PRINCIPAL*/
  .contenedor-principal{
    display: inline-block;
    position: absolute;
   /* border: 5px solid red;*/
    margin-top: 35px;
    margin-left: 50px;
  }

  .articulos{
    margin-bottom: 10px;
  }

  .parrafos{
    padding-left: 30px;
  }



